import React from 'react';

interface IProps {
  // Define your props here
}

const {{pascalCase name}}: React.FC<IProps> = (props) => {
  return (
    <div className="p-4 bg-gray-100 rounded-lg">
  
    </div>
  );
};

export default {{pascalCase name}};